<ul>
  <% @gig.sites.each do |site| %>
  <li>
    <%= link_to site.name, site_notes_path(site) %>
    <%= link_to 'New Note', new_admin_site_note_path(site), class: 'float-right btn btn-primary btn-sm' %>
    <ul>
      <% site.notes.each do |note| %>
        <li>
          <%= note.body %>
        </li>
      <% end %>
    </ul>
  </li>
  <% end %> 
</ul>