<br />

<%= simple_form_for @gig, url: admin_gigs_path do |f| %>
    <div class="form-group">
       <%= f.input :title, label: 'Gig Title', class: 'form-control', placeholder: "Gig Title",  error: 'Gig title is required' %>
    </div>
   
    <div class="form-group">
      <%= f.input :description, label: 'Gig description', class: 'form-control'%>
    </div>
    
    <div class="form-group">
      <%= f.submit "Create Gig", class: 'btn btn-primary' %>
    </div>

  
  <% end %>