<h1>Lets see My Gigs!</h1>

<div>
 <% @gigs.each do |gig| %>
    <h2 class="text-center"><%= link_to gig.title, gig_path(gig) %></h2>
     <div class="col-sm-8 col-12">
      <%= gig.description %>
    </div>
    <div class="col-sm-4 col-12 text-center">
      <%= link_to 'More Details...', gig_path(gig), class: 'btn btn-primary btn-large' %>
    </div>
  <% end %>
</div>

<div class="col-sm-4 col-12 text-center">
  <%= link_to 'Add a Gig', new_gig_path, class: 'btn btn-primary btn-large' %>
</div>
