<h1><%= @gig.title %></h1>

<h1><%= @gig.description %></h1>

<div>
  <% if current_user && current_user == @gig.user %>
    <%= link_to 'Admin', admin_gig_path(@gig), class: 'btn btn-danger btn-large' %>
  <% end %>
</div>

<ul>
  <% @gig.sites.each do |site| %>
  <li>
    <%= link_to site.name, gig_site_path( @gig, site ) %>
  </li>
  <% end %> 
</ul>